# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/

# Environment files
.env

# Temporary files
*.tmp
*.log

# AI model files
*.pt
*.onnx

# OS files
.DS_Store
Thumbs.db